{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "@typescript-eslint/no-var-requires": 0,
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  }
}